$actionBarCardWidth: $actionBarHeight;

.action-bar-container {
    height: $actionBarHeight;
    display: flex;

    /* Then we define the flow direction and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: column wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: flex-end;

    .action-bar-card {
        flex: 1 0 100%;
        width: $actionBarCardWidth;
        background: #222;
        color: #fff;
        display: flex;
        overflow: scroll;
    }

    .action-bar {
        display: flex;
        width: calc(100% - #{$actionBarCardWidth});

        /* Then we define the flow direction and if we allow the items to wrap
        * Remember this is the same as:
        * flex-direction: row;
        * flex-wrap: wrap;
        */
        flex-flow: row wrap;

        .action-bar-upper, .action-bar-lower {
            height: 100px;
            width: 100%;
            display: flex;
        }

        .action-bar-upper {
            order: -1;
        }
        .action-bar-lower {
            order: 0;

            button {
                margin: 0;
                height: 100%;
            }
        }

        .action-bar-buttons {
            background: #666;
            flex: auto;
        }
        .playspeed-controls {
            align-self: flex-end;
            display: flex;
            button {
                width: 0.33 * $actionBarHeight;
                border: 0;
                font-size: 24px;

                &:disabled {
                    background: #666;
                }

                i {
                    font-size: 24px;
                }
            }
        }
    }
}