$agentListPadding: 16px;

.agent-list-container {
    display: flex;
    flex: 1 100%;
    flex-direction: column;

    & > *{
        flex: 1 50%;
        border: 1px solid #666;
        overflow: scroll;
    }

    .id-column {
        width: 50px;
    }
    .type-column {
        width: 80px;
    }
    .name-column {
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 1 !important;
    }
    .sprite-column {
        width: 30px;
        img {
            width: 24px;
        }
    }
    .health-column {
        width: 60px;
    }
    .gender-column {
        width: 54px;
    }
    .job-column {
        width: 90px;
    }

    .agent-list {
        width: 100%;
        border-collapse: collapse;

        td, th {
            border: none;
            color: #fff;
        }

        .agent-list-row {
            padding: 8px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 0;
        }

        .agent-list-header {
            @extend .agent-list-row;

            background: #333;
        }

        .agent-list-entry {
            @extend .agent-list-row;

            &:hover {
                background: #444;
            }

            & > div {
                flex-grow: 0;
                flex-shrink: 0;
            }

            & > * {
                cursor: pointer;
            }
        }
    }
}