$agentListPadding: 16px;

.agent-list-container {
    display: flex;
    flex: 1 100%;
    flex-direction: column;

    .agent-list, .agent-list-bottom {
        flex: 1 50%;
        border: 1px solid #666;
    }

    .agent-list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        padding: $agentListPadding;

        .agent-list-entry {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 0;
            padding: 8px;
            cursor: pointer;

            &:hover {
                background: #444;
            }

            & > * {
                cursor: pointer;
                flex: 1 100%;
            }
        }
    }
}