$entityListPadding: 16px;
$entityListEntryPadding: 8px;

.entity-list-container {
    display: flex;
    flex: 1 100%;
    flex-direction: column;

    & > * {
        flex: 1 auto;
        border: 1px solid #666;
        overflow: scroll;
    }

    .entity-list-bottom {
        border-top: 0;
        flex: 2 auto;
    }
    &.bottom-closed .entity-list-bottom {
        flex: 0 0;
        border: 0;
    }
    .entity-list {
        flex: 1 0 120px;
    }
    &.bottom-closed .entity-list {
        flex: 1 auto;
    }
    .entity-list-bottom-toggle {
        flex: 0 0 42px;
        border-top: 0;
        background: #444;
    }

    @mixin overflow-column {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 1 !important;
    }

    .id-column {
        width: 50px;
    }
    .type-column {
        @include overflow-column();
        width: 80px;
        text-transform: capitalize;
    }
    .count-column {
        width: 60px;
    }
    .name-column {
        @include overflow-column();
        width: 120px;
        text-transform: capitalize;
    }
    .sprite-column {
        width: 40px;
        img {
            max-width: 24px;
            display: block;
        }
    }
    .health-column {
        width: 60px;
    }
    .entity-list-entry .health-column {
        text-transform: uppercase;
    }
    .gender-column {
        width: 54px;
    }
    .job-column {
        width: 90px;
    }

    .entity-list {
        width: 100%;
        border-collapse: collapse;

        td, th {
            border: none;
            color: #fff;
        }

        @mixin entity-list-row {
            padding: 8px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 0;
        }

        .entity-list-header {
            @include entity-list-row();

            background: #333;
        }

        .entity-list-entry {
            @include entity-list-row();

            &:hover {
                background: #444;
            }

            & > div {
                flex-grow: 0;
                flex-shrink: 0;
            }

            input {
                width: calc(100% - #{$entityListEntryPadding});
                background: transparent;
                border-color: #333;
            }

            & > * {
                cursor: pointer;
            }
        }
    }
}