.item-list {
    flex: auto;
    color: #fff;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 20px;

    li {
        &:first-child {
            margin-left: 0;
        }
        margin: 0;
        margin-left: 16px;
        display: flex;
    }

    img {
        width: $tileSize;
        height: $tileSize;
    }
}