@import 'normalize',
    'skeleton';

@import 'menus',
	'progress-bar';

body {
    font-family: 'Lora', serif;
}

$tileSize: 24px;
$topSectionHeight: 80px;
$actionBarHeight: 160px;

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

button {
    padding: 0.5em 0.75em;
}

.ripple {
    background: #ccc;
}
.capitalize {
	text-transform: capitalize;
}

.game-ui {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
}

* {
	box-sizing: border-box;
	cursor: url('/sprites/ui/cursors/standard.png'), move !important;
}

.hand-cursor * {
	cursor: url('/sprites/ui/cursors/select.png'), move !important;
}
.attack-cursor * {
	cursor: url('/sprites/ui/cursors/attack.png'), move !important;
}
.harvest-cursor * {
	cursor: url('/sprites/ui/cursors/harvest.png'), move !important;
}
.cancel-harvest-cursor * {
	cursor: url('/sprites/ui/cursors/cancel-harvest.png'), move !important;
}

.game-header {
	font-size: 5em;
	color: #fff;
	background: rgba(0,0,0,0.5);
	font-family: 'Redressed', cursive;
}

.top-section {
	height: $topSectionHeight;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.middle-section {
	flex: calc(100% - #{$actionBarHeight + $topSectionHeight});
	overflow: scroll;
}
.action-bar {
	align-self: flex-end;
	width: 100%;
}

@import 'debug-ui',
	'action-bar',
	'buildings-list',
	'place-building-service',
	'clock',
	'hover-tile';