@import 'normalize',
    'skeleton';

@import 'menus',
	'progress-bar';

body {
    font-family: 'Lora', serif;
}

i.fa {
	font-size: 12px;
}

::-webkit-scrollbar {
    display: none;
}

$tileSize: 24px;
$topSectionHeight: 80px;
$actionBarHeight: 480px;
$leftMenuWidth: 413px;

$green: #17690e;

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

button {
    padding: 0.5em 0.75em;
}

* {
	box-sizing: border-box;
	cursor: url('/sprites/ui/cursors/standard.png'), move;
}

.hand-cursor * {
	cursor: url('/sprites/ui/cursors/select.png'), move;
}
.attack-cursor * {
	cursor: url('/sprites/ui/cursors/attack.png'), move;
}
.harvest-cursor * {
	cursor: url('/sprites/ui/cursors/harvest.png'), move;
}
.cancel-harvest-cursor * {
	cursor: url('/sprites/ui/cursors/cancel-harvest.png'), move;
}

a, button {
	cursor: pointer;
}

input {
	cursor: auto;
}

.ripple {
    background: #ccc;
}
.capitalize {
	text-transform: capitalize;
}

.game-ui {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
}

.game-header {
	font-size: 50px;
	line-height: 96px;
	margin-bottom: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
	font-family: 'Redressed', cursive;
}

.main-menu .menu-body {
	max-height: calc(100% - 96px);
	overflow: scroll;
}

.top-section {
	height: $topSectionHeight;
	display: flex;
	flex-direction: row;
}

.middle-section {
	flex: calc(100% - #{$actionBarHeight + $topSectionHeight});
	overflow: hidden;
	display: flex;
	flex-flow: column;
}
.action-bar {
	align-self: flex-end;
	width: 100%;
}

$leftMenuBorderColor: #333;
.left-menu {
	width: $leftMenuWidth;
	flex: 1 100%;
	display: flex;

	.left-menu-tabs {
		display: flex;
		flex-flow: column;
		flex: 1 100%;
		width: 100%;
	}

	.nav-tabs {
        border-bottom: 1px solid $leftMenuBorderColor;
    }
	.tab-content {
		background: #222;
		border: 1px solid $leftMenuBorderColor;
		border-top: 0;
		color: #fff;
		overflow: scroll;
    }
}

@import 'debug-ui',
	'action-bar',
	'buildings-list',
	'craft-bar',
	'place-building-service',
	'item-list',
	'clock',
	'tabs',
	'entity-list',
	'agent-info-card',
	'hover-tile',
	'recruit-visitor-section';