<!doctype html>
 <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!--<link rel="stylesheet" href="styles/main.css">-->
	<!-- <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Redressed|Slabo+27px' rel='stylesheet' type='text/css'> -->
 </head>
 <body>

	<!-- Main game dom goes here -->
	<div class="ripple">Hello World!</div>

	<!--<script src="src/vendor/pixi.js"></script>-->
	<!--<script src="build/src/vendor-bundle.js"></script>-->
	<!--<script src="build/src/app-bundle.js"></script>-->
</body>
</html>
